<template>
  <div class="container">
    <h2>My Todo List</h2>

    <div class="d-flex my-4">
      <input v-model="task" type="text" placeholder="Enter Task" class="form-control">
      <button class="btn btn-warning rounded-0" @click="submitTask">Add</button>
    </div>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Status (click)</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(task, index) in tasks" :key="index">
      <th>
        <span :class="{'finished': task.status === 'finished'}">
        {{task.name}}
        </span></th>
      <td>
        <span @click="changeStatus(index)" class="pointer"
        :class="{'text-danger': task.status === 'to-do',
        'text-warning': task.status === 'in-progres',
        'text-success': task.status === 'finished'}">
        {{firstCharUpper(task.status)}}
        </span></td>
      <td>
        <div @click="editTask(index)">
          <span class="fa fa-pen"></span>
        </div>
      </td>
      <td>
          <div @click="deleteTask(index)">
          <span class="fa fa-trash"></span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
  </div>
</template>

<script>
export default {
  name: 'TodoApp',

  data() {
    return {
      task:'',
      editedTask: null,
      availableStatuses: ['to-do', 'in-progres', 'finished'],
      tasks: [
        {
          name: 'Mandi Pagi',
          status: 'to-do'
        },
        {
          name: 'Baca buku',
          status: 'in-progres'
        }
      ]
    }
  },

  methods: {
    submitTask() {
      if(this.task.length === 0) return;

      if(this.editedTask === null) {
        this.tasks.push({
          name: this.task,
          status: 'to-do'
        })
      } else {
        this.tasks[this.editedTask].name = this.task
        this.editedTask = null
      }

      this.task= ''
    },

    deleteTask(index) {
      this.tasks.splice(index, 1)
    },

    editTask(index) {
      this.task = this.tasks[index].name
      this.editedTask = index
    },

    changeStatus(index) {
      let newIndex = this.availableStatuses.indexOf(this.tasks[index].status)
      if(++newIndex > 2) newIndex = 0
      this.tasks[index].status = this.availableStatuses[newIndex];
    },

    firstCharUpper(str) {
      return str.charAt(0).toUpperCase() + str.slice(1)
    }
  }
}
</script>


<style scoped>
.pointer {
  cursor: pointer;
}

.finished {
  text-decoration: line-through;
}
</style>
